<ng-container *ngIf="messageErr; else template" class="text-danger">
  <p>Pas de donnees</p>
</ng-container>
<ng-template #template>
  <div class="container">
    <div class="row">
      <div *ngFor="let coll of collegues" class="col-3">
        <div class="card" style="width: 18rem;" (click)="getDetails(coll.id)">
          <img alt="Card image cap" class="card-img-top" src="{{coll.photo}}">
          <div class="card-body">
            <h5 class="card-title">Id : {{coll.id}}</h5>
            <p class="card-text"></p>

            <p class="card-text">Nom : {{coll.nom}}</p>
            <p class="card-text">Prenom : {{coll.prenom}}</p>
            <p class="card-text">Email : {{coll.email}}</p>
            <app-opinion [coll]="coll"></app-opinion>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
