<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/">
      <svg class="bi me-2" height="32" width="40">
        <use xlink:href="#bootstrap"/>
      </svg>
      <span class="fs-4">Application collegue</span>
    </a>
    <ul class="nav nav-pills">
      <li>
        <a *ngIf="router.url != '/votes'" href="/votes">
          <button class="btn btn-dark">Votes</button>
        </a>
      </li>
      <li>
        <a *ngIf="router.url != '/list-votes'" href="/list-votes">
          <button class="btn btn-dark">Liste des votes</button>
        </a>
      </li>
      <li>
        <ngbd-modal-basic></ngbd-modal-basic>
      </li>
      <li>
        <button (click)="reloadCurrentPage()" class="btn bg-danger">Recharger</button>
      </li>
    </ul>
  </header>
  <p *ngIf="messageSuc" class="text-success">{{messageSuc}}</p>
</div>
