<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/">
      <svg class="bi me-2" height="32" width="40">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Application collegue</span>
    </a>
    <ul class="nav nav-pills">
      <li *ngIf="!(router.url ==='/votes' || router.url ==='/list-votes')">
        <app-search-bar></app-search-bar>
      </li>
      <li>
        <button (click)="getVotePage()" *ngIf="router.url != '/votes'" class="btn btn-dark">Votes</button>
      </li>
      <li>
        <button (click)="getListPage()" *ngIf="router.url != '/list-votes'" class="btn btn-dark">Liste des votes
        </button>
      </li>
      <li>
        <ngbd-modal-basic></ngbd-modal-basic>
      </li>
    </ul>
  </header>
  <p *ngIf="messageSuc" class="text-success">{{messageSuc}}</p>
</div>
<!--<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>-->
