.text-errors-id,
.text-errors-email,
.text-errors-nom,
.text-errors-prenom,
.text-errors-societe,
.text-errors-dateNaissance,
.text-errors-adresse {
  position: absolute;
  top: 76px;
  left: 16px;
}
