<ng-container *ngIf="messageErr; else template" class="text-danger">
  <p>Pas de donnees</p>
</ng-container>

<ng-template #template>
  <div class="container">
    <div class="row">
      <div *ngIf="messageSuc" class="text-success">vote fait !</div>
      <div *ngFor="let coll of collegues" class="col-3">
        <div class="card mb-3" style="width: 18rem;">
          <img alt="Card image cap" class="card-img-top" src="{{coll.photo}}">
          <div class="card-body">
            <h5 class="card-title">Pseudo : {{coll.pseudo}}</h5>
            <p class="card-text"></p>

            <p class="card-text">Nom : {{coll.nom}}</p>
            <p class="card-text">Prenom : {{coll.prenom}}</p>
            <p class="card-text">Score : {{coll.score}}</p>
            <app-avis
              (vote)="giveOpinion(coll,$event)"
              [dislikeDisable]="coll.score <= -1000"
              [likeDisable]="coll.score >= 1000"
            ></app-avis>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div *ngFor="let coll of votes" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3">
            <img alt="Card image cap" class="card-img-top" src="{{coll.collegue.photo}}">
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">{{coll.collegue.prenom}}</h5>
              <p *ngIf="coll.avis == 'AIMER'" class="card-text">{{coll.collegue.prenom}} est aime, son score est
                de {{coll.collegue.score}} :-)</p>
              <p *ngIf="coll.avis == 'DETESTER'" class="card-text">{{coll.collegue.prenom}} est deteste, son score est
                de {{coll.collegue.score}} -:(</p>
              <button (click)="deleteVote(coll)" class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


